@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Regular.ttf') format('truetype');
}

/*
font-family: 'Product Sans', Arial, sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Sora', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 12vh;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
}

a {
    text-decoration: none;
}

nav .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav .container ul {
    display: flex;
}

nav .container ul li {
    list-style: none;
    margin-left: 5em;
}

nav .container ul li a {
    font-size: 1.6em;
    font-weight: 500;
    color: #6E7275;
    transition: .3s;
}

nav .container ul li a:hover {
    color: #0F9AFE;
}

nav .container .menu {
    display: none;
}

header {
    width: 100%;
    background-color: #EFF8FF;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding: 6em 0;
}

header .container .div_texto {
    width: 60%;
}

header .container .div_texto h1 {
    font-family: 'Sora', sans-serif;
    font-size: 4.4em;
    font-weight: 600;
    color: #293145;
    margin-bottom: 1em;
}

.btn_azul {
    display: inline-block;
    background-color: #0F9AFE;
    border-radius: 2em;
    font-size: 1.8em;
    font-weight: 500;
    color: #fff;
    padding: .8em 2em;
    box-shadow: 1px 3px 5px rgba(19, 125, 224, 0.5);
    transition: .5s;
}

.btn_azul:hover {
    background-color: #003052;
    box-shadow: 1px 3px 5px rgba(0, 42, 81, 0.5);
}

header .container .div_texto .div_img{
    width: 40%;
}

header .container .div_img img{
    width: 100%;
}

section#func {
    width: 100%;
    padding: 8em 0;
}

section#func {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#func h2, section#func .card_container .card_func h3, section#app .container .div_texto h2,section#plano h2 {
    font-family: 'Sora', sans-serif;
    font-size: 3.8em;
    font-weight: 600;
    color: #293145;
    margin-bottom: 1.5em;
}

section#func .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section#func .card_container .card_func{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#func .card_container .card_func img{
    margin: 1em auto;
}

section#func .card_container .card_func h3{
    font-size: 1.6em;
    font-weight: 700;
    margin: .8em auto;
}

section#func .card_container .card_func h3{
    font-size: 1.6em;
    font-weight: 700;
    margin: 1em auto;
}

section#func .card_container .card_func p, section#app .container .div_texto p, section#plano p {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.6em;
    color: #6E7275;
}

section#app  {
    width: 100%;
    background-color: #EFF8FF;
    padding: 4em 0;
}

section#app  .container {
    justify-content: space-between;
    align-items: center;
}

section#app .container .div_texto {
    width: 60%;
}

section#app .container .div_texto h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

section#app .container .div_texto p {
    width: 440px;
    text-align: start;
    margin-bottom: 2.5em;
}

section#app .container .div_texto .container_botoes {
    display: flex;
    justify-content: start;
    align-items: center;
}

section#app .container .div_texto .container_botoes .btn_cinza {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #293145;
    padding: 1em 0;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 8px;
    transition: .5s;
}

section#app .container .div_texto .container_botoes .btn_cinza:hover {
    background-color: #0F9AFE;
}

section#app .container .div_texto .container_botoes .btn_cinza img {
    height: 32px;
    margin-right: 1em;
}

section#app .container .div_texto .container_botoes .btn_cinza p {
    display: flex;
    width: auto;
    flex-direction: column;
    font-size: 2em;
    font-weight: 500;
    line-height: .8em;
    color: #fff;
    margin-bottom: 0;
}

section#app .container .div_texto .container_botoes .btn_cinza p span {
    font-size: .5em;
    font-weight: 400;
}

section#app .container .div_img {
    display: flex;
    justify-content: end;
    width: 40%;
}

section#app .container .div_img img {
    width: 85%;
}

section#plano {
    width: 100%;
    padding: 8em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#plano h2 {
    margin-bottom: .4em;
}

section#plano p {
    width: 480px;
    margin-bottom: 6em;
}

section#plano .container_card {
    display: flex;
    align-items: center;
    margin: auto;
}

section#plano .container_card p {
    width: auto;
    margin-bottom: 0;
}

section#plano .container_card .card {
    display: flex;
    flex-direction: column;
    background-color: #EFF8FF;
    width: 350px;
    padding: 6em 0;
    border-radius: 10px;
}

section#plano .container_card .card h3 {
    font-family: 'Sora', sans-serif;
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;
    color: #293145;
}

section#plano .container_card .card p.preco {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 4.6em;
    font-weight: 700;
    color: #293145;
    line-height: normal;
    margin: .7em 0;
}

section#plano .container_card .card p.preco span.reais {
    font-size: .4em;
    align-self: flex-start;
    margin-top: .4em;
}

section#plano .container_card .card p.preco span.mes {
    font-size: .4em;
}

section#plano .container_card .card .btn_azul {
    display: block;
    width: 255px;
    font-size: 1.2em;
    padding: .4em;
    margin: 0 auto;
    margin-top: 4em;
}

section#plano .container_card .card .btn_azul:hover {
    background-color: #0F9AFE;
}

section#plano .container_card .card .btn_azul p {
    color: #fff;
    font-weight: 400;
}

section#plano .container_card .card.preferido {
    background-color: #293145;
    padding-top: 3em;
    margin: 0 3em;
}

section#plano .container_card .card.preferido h3 {
    font-size: 3em;
    color: #fff;
}

section#plano .container_card .card.preferido p {
    color: #DBDBDB;
}

section#plano .container_card .card.preferido p.preco {
    color: #fff;
    margin-top: 0;
    margin-bottom: .7em;
}

section#plano .container_card .card.preferido .btn_azul p {
    color: #fff;
}

section#plano .container_card .card.preferido .btn_azul {
    box-shadow: 1px 3px 5px rgba(0, 42, 81, 0.5);
    margin: 0 auto;
    margin-top: 4em;
}

section#plano .container_card .card p.preferido {
    width: 185px;
    display: inline-block;
    background-color: #0F9AFE;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.4em;
    color: #fff;
    padding: .15em 0;
    border-radius: 1em;
    margin: 1em auto;
}

section#contato {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../img/back_contato.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#contato img {
    position: absolute;
    width: 100%;
}

section#contato .filtro {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 0;
    background-color: rgba(41, 49, 69, 0.7);
}

section#contato .filtro h2 {
    font-family: 'Sora', sans-serif;
    font-size: 4em;
    font-weight: 600;
    color: #fff;
    margin-bottom: .5em;
}

section#contato .filtro p {
    width: 470px;
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    color: #DBDBDB;
    margin-bottom: 4em;
}

section#contato .filtro input {
    width: 310px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.444);
    outline: none;
    font-size: 1.8em;
    color: #fff;
    padding: .4em 0;
}

section#contato .filtro input:focus {
    border-bottom: 2px solid #0F9AFE;
}

section#contato .filtro input::placeholder {
    color: #fff;
}

section#contato .filtro input[type="submit"] {
    width: 120px;
    background-color: #0F9AFE;
    border: 2px solid #0F9AFE;
    border-radius: 2em;
    padding: .3em 0;
    margin-left: 2em;
}

section#contato .filtro input[type="submit"]:hover {
    cursor: pointer;
}

footer {
    padding: 1.5em 0;
    font-family: 'Sora', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #293145;
    text-align: center;
}

@media screen and (max-width: 1220px) {
    .container {
        width: 100%;
        padding: 0 2em;
    }

    header .container {
        padding: 6em 2em;
    }

    section#func {
        padding: 8em 2em;
    }
}

@media screen and (max-width: 1150px) {
    section#plano .container_card {
        flex-direction: column;
    }

    section#plano .container_card .card {
        width: 500px;
        height: auto;
    }

    section#plano .container_card .card h3, section#plano .container_card .card.card.preferido h3 {
        font-size: 3.5em;
    }

   section#plano .container_card .card.card.preferido h3 {
        font-size: 4em;
    }

    section#plano .container_card .card p.preferido {
        width: auto;
        font-size: 1.8em;
        padding: .2em 3em;
    }

    section#plano .container_card .card p.preco {
        font-size: 7em;
    }

    section#plano .container_card .card.card.preferido {
        margin: 4em auto;
    }

    section#plano .container_card p {
        font-size: 2em;
    }

    section#plano .container_card .card .btn_azul, section#plano .container_card .card.card.preferido .btn_azul {
        width: 70%;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 1020px) {
    header .container .div_texto h1 {
        font-size: 3.8em;
    }
}

@media screen and (max-width: 925px) {
    header .container .div_img {
        width: 40%;
    }

    section#func .card_container {
        justify-content: space-between;
    }

    section#func .card_container .card_func {
        width: auto;
    }
}

@media screen and (max-width: 800px) {
    header .container .div_texto h1, section#func h2, section#plano h2, section#contato .filtro h2 {
        font-size: 3.2em;
    }

    header .container .div_texto .btn_azul {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    header .container {
        flex-direction: column;
        padding-bottom: 0;
    }

    header .container .div_texto {
        justify-content: flex-start;
    }

    header .container .div_texto, header .container .div_img{
        width: 100%;
    }

    header .container .div_img img {
        width: 80%;
        display: block;
        margin: auto;
    }

    section#func .card_container {
        flex-wrap: wrap;
    }

    section#func .card_container .card_func {
        width: 100%;
        margin-bottom: 5em;
    }

    section#app .container .div_img {
        display: none;
    }

    section#app .container {
        justify-content: center;
        text-align: center;
    }

    section#app .container .div_texto p {
        text-align: center;
    }

    section#app .container .div_texto .container_botoes {
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    section#plano .container_card .card {
        width: 400px;
        height: auto;
    }

    section#plano .container_card .card h3, section#plano .container_card .card.card.preferido h3 {
        font-size: 3em;
    }

   section#plano .container_card .card.card.preferido h3 {
        font-size: 3.5em;
    }

    section#plano .container_card .card p.preferido {
        width: auto;
        font-size: 1.5em;
        padding: .2em 3em;
    }

    section#plano .container_card .card p.preco {
        font-size: 6em;
    }

    section#plano .container_card .card.card.preferido {
        margin: 4em auto;
    }

    section#plano .container_card p {
        font-size: 1.8em;
    }

    section#plano .container_card .card .btn_azul, section#plano .container_card .card.card.preferido .btn_azul {
        width: 70%;
        margin-bottom: 2em;
    }

    section#app .container .div_texto h2{
        display: block;
    }

    section#app .container .div_texto {
        width: auto;
    }
}

@media screen and (max-width: 605px){
    nav .container ul {
        display: none;
    }

    nav .container .menu {
        display: block;
        width: 50px;
        border-top: 3px solid #293145;
    }

    nav .container .menu:hover {
        cursor: pointer;
    }

    nav .container .menu::before, nav .container .menu::after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        background-color: #293145;
        margin-top: 6px;
    }

    nav .container .menu::after {
        width: 25px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 505px){
    section#plano , section#func, section#contato .filtro {
        padding: 5em 2em;
    }

    section#func {
        padding-bottom: 0;
    }

    section#plano p {
        width: 350px;
        margin-bottom: 3em;
    }

    section#contato .filtro p {
        width: 350px;
    }

    section#contato .filtro .input_contato {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section#contato .filtro .input_contato input{
        width: 100%;
    }

    section#contato .filtro input[type="submit"] {
        margin-left: 0;
        margin-top: 1em;
        padding: .6em 0;
    }
}

@media screen and (max-width: 440px) {
    header .container .div_texto h1 {
        font-size: 2.8em;
    }

    section#func h2, section#app .container .div_texto h2, section#plano h2, section#contato .filtro h2 {
       font-size: 2.6em;
    }

    section#func .card_container .card_func p, section#app .container .div_texto p, section#plano p, section#plano .container_card p, section#contato .filtro p, section#contato .filtro .input_contato input, section#plano .container_card .card p.preferido{
        font-size: 1.4em;
    }

    section#plano .container_card, section#plano .container_card .card {
        width: 100%;
    }

    section#app .container .div_texto p {
        width: 300px;
        margin: auto;
        margin-bottom: 2em;
    }

    section#app .container .div_texto .container_botoes .btn_cinza {
        width: 130px;
        padding: .6em;
        border-radius: 5px;
    }

    section#app .container .div_texto .container_botoes .btn_cinza img{
        width: 20px;
        height: 20px;
    }

    section#app .container .div_texto .container_botoes .btn_cinza p {
        font-size: 1.2em;
        text-align: start;
        margin: 0;
    }

    section#app .container .div_texto .container_botoes .btn_cinza p span {
        font-size: .3em;
        font-weight: 400;
    }

    section#plano .container_card .card h3 {
        font-size: 2.4em;
    }

    section#plano .container_card .card.card.preferido h3 {
        font-size: 2.6em;
    }

    section#plano .container_card .card p.preco {
        font-size: 5em;
    }

    footer {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 380px) {
    header .container .div_texto h1{
        font-size: 2.5em;
    }

    header .container .div_texto .btn_azul{
        font-size: 1.3em;
    }

    section#app .container .div_texto p, section#plano p, section#contato .filtro p {
        width: auto;
    }
}

@media screen and (max-width: 340px) {
    header .container .div_texto h1, section#func h2, section#app .container .div_texto h2, section#plano h2, section#contato .filtro h2, section#plano .container_card .card h3, section#plano .container_card .card.card.preferido h3 {
        font-size: 2em;
     }

     section#app .container .div_texto {
        width: 100%;
    }

    section#app .container .div_texto .container_botoes .btn_cinza{
        width: 115px;
    }

     section#plano {
        padding: 5em 1em;
    }

    footer {
        font-size: 1.4em;
    }
}